body {
	background-color: white;
	text-align: center;
}
	
	
	
	@font-face {  
	  font-family: "gothaml";  
	  src: url( http://balconesshred.com/css/fonts/Gotham-Light.eot ); /* IE */  
	  src: url( fonts/Gotham-Light.TTF ) format("truetype"); /* non-IE */  
	  font-weight: normal;
    font-style: normal;

	} 
	
	@font-face {  
	  font-family: "gothamb";  
	  src: url( fonts/Gotham-Black.eot ); /* IE */  
	  src: url( fonts/Gotham-Black.TTF ) format("truetype"); /* non-IE */  
	  font-weight: normal;
    font-style: normal;

	} 
	

#wrp {
	margin-top: 0px;
	padding-top: 0px;
	width: 895px;
	text-align: left;
	position: relative;
	margin-left:  auto;
	margin-right: auto;
}

#hdr {
	margin-top: 0px;
	padding-top: 0px;
	background-color: #ffffff;
	position: relative;
	width: 895px;
}
#hdr a.logo {
	float: left;
}
#logoDiv{float: left;height: 100px;background-color: #000}



#primaryNav{float:left;padding-top: 39px;align:right;height: 24px;width: 636px;margin-left: 9px}
#primaryNavSpacer{float:left;width:76px}
.primaryNavItem{float:right;height:65px;padding-left: 0}
.primaryNavItem a 			{font-family: gothaml;font-size:19px;letter-spacing:1px;text-decoration:none;padding:40px 9px 5px 10px;color:#360F54;font-weight:500;#}
.primaryNavItem a.selected 	{font-family: gothaml;font-size:19px;letter-spacing:1px;text-decoration:none;padding:40px 9px 5px 10px;color:#FFFFFF;font-weight:500;background-color:#360F54;}


#secondaryNav{float:left;padding-top: 1px;text-align:right;height: 24px;width: 640px}
#secondaryNavSpacer{float:left;width:180px}
.secondaryNavItem{float:right;height:20px;padding-left: 6px}
.secondaryNavItem a 			{padding:5px;letter-spacing:0;font-family: gothaml;color:#000;font-size:12px;text-decoration: none;font-weight:500;}
.secondaryNavItem a.selected 	{padding:5px;letter-spacing:0;font-family: gothaml;color:#FFF;font-size:12px;text-decoration: none;font-weight:500;background-color:#360F54;}

@media screen and (-webkit-min-device-pixel-ratio:0) {
.primaryNavItem a 			{font-family: gothaml;font-size:19px;letter-spacing:1px;text-decoration:none;padding:40px 9px 5px 10px;color:#360F54;font-weight:100;}

}

#hdr ul.nav {
	text-align: right;
	width: 600px;
	clear: right;
	float: right;
	margin-right: 10px;
	margin-bottom: 0px;
}
#hdr ul.nav li {
	list-style-type: none;
	display: inline;
}
#top {
	width: 895px;
	clear: both;
}


ul {
	margin-left: 25px;
	margin-bottom: 10px;
}

ul#categories {
	margin-left: 0px;
}
ul#categories li {
	display: inline;
	float: center;
	margin-left: 10px;
}

#cnt {
	width: 895px;
	position: relative;
}
#side {
	display: inline;
	float: right;
	width: 285px;
	margin-right: 10px;
}

#quote {
	padding: 10px;
}
#quote input.text, #quote input.invalidtext, #quote textarea.text, #quote textarea.invalidtext {
	border: none;
	width: 261px;
	padding: 2px;
	font-size: 12px;
}
#quote input.invalidtext, #quote textarea.invalidtext {
	background-color: #ffff99;
}
#quote input.submit {
	margin-top: 5px;
}

#ftr {
	text-align: center;
	padding: 10px 20px;
	margin: 10px;
	width: 835px;
	background-color: #dddddd;
}
#ftr .top {
	margin: 10px 0px;
	padding-bottom: 10px;
	border-bottom: 1px solid #666666;
}
#ftr a {
	margin: 0px 3px;
}
#ftr img {
	margin: 0px 20px;
}
#aftr #tertiary {
	float: left;
	display: inline;
	width: 265px;
	margin-left: 10px;
	padding: 10px;
}
#aftr #tertiary li {
	display: inline;
	margin-right: 5px;
}
#aftr #auxiliary {
	float: left;
	width: 560px;
	margin-left: 10px;
	padding: 10px;
}

img.title {
	margin-bottom: 10px;
}

.clear {
	clear: both;
}
.overflow-hidden {
	overflow: hidden;
}
.right {
	float: right;
	margin-left: 10px;
}
.left {
	float: left;
	margin-right: 10px;
}
.cities a {
	color: #475c12;
	font-family: Arial, Helvetica, Genva, sans-serif;
	font-size: 9px;
	text-transform: uppercase;	
	text-decoration:none;
}

.cities a:hover, cities a:visited{
	color: #475c12;
	font-size: 9px;
	text-decoration:none;
	text-transform: uppercase;
}
#side p { margin-bottom:0px !important; }
.ask {
	background-image:url(../rsrc/side/faqs_new.gif);
	width: 285px;
	height: 100px;	
	
	}
.whiteTxt{
	color: #ffffff;
	font-family: Verdana, Helvetica, Arial, Helvetica;
	font-size: 12px;
	padding-left:10px;
	padding-top:40px;
	
}
.bigTxt{
	color: #222222;
	font-family: Arial, Helvetica, Geneva, sans-serif;
	font-size: 20px;
	line-height: 24px;
	text-decoration:none;
	padding-bottom:20px;
}

.Call {
/*background-image:url(../images/callsouth.gif);*/
	background-color:#8eb825;
	width: 265px;
	padding-top:7px;
	padding-bottom:7px;
	border-bottom:10px solid #fff;
	padding-left:10px;	
	padding-right:10px;
	}
.locations{
	color: #ffffff;
	font-family: Verdana, Helvetica, Arial, Helvetica;
	font-size: 12px;
	/*padding-left:10px;*/
	text-transform: uppercase;
		
}
.Call div {
	margin-top:-4px;
	line-height:normal;
}

.phoneNumber a{
	color: #222222;
	font-family: Arial, Helvetica, Geneva, sans-serif;
	font-size: 20px;
	line-height:normal;
	text-decoration:none;
	
}

.phoneNumber {
	color: #222222;
	font-family: Arial, Helvetica, Geneva, sans-serif;
	font-size: 20px;
	line-height:normal;
	text-decoration:none;
	
}

.espanol {
/*background-image:url(../images/espanol.gif);*/
	background-color:#8eb825;
	width: 285px;
	/*height: 50px;*/
	border-bottom:10px solid #fff;
	color: #222222;
	font-family: Arial, Helvetica, Geneva, sans-serif;
	font-size: 20px;
	text-decoration:none;
	padding-top:7px;
	padding-bottom:7px;
}
.quote-inq {
	background-color:#8eb825;	
	width:285px;
}
#quote {
	padding:7px 10px 7px 10px;
}
#quote p {
	padding-bottom:15px;
}
.Hespanol{
	color: #222222;
	font-family: Arial, Helvetica, Geneva, sans-serif;
	font-size: 20px;
	line-height: 24px;
	text-decoration:none;
	padding-left:10px;
	margin-top:20px;
}
.contact-us {
	background-color:#DDDDDD;	
    margin-left: -10px;
    width: 566px;
}
#contact-us-form {
	padding:7px 10px 7px 10px;
}

#contact-us-form {
    padding: 15px;
}
#contact-us-form input.text, #contact-us-form input.invalidtext, #contact-us-form textarea.text, #contact-us-form textarea.invalidtext {
	border: none;
    width: 531px;
	padding: 2px;
	font-size: 12px;
}
#contact-us-form input.invalidtext, #contact-us-form textarea.invalidtext {
	background-color: #ffff99;
}
#contact-us-form input.submit {
	margin-top: 5px;
}

#contact-us p {
	padding-bottom:15px;
}
