body {
	background-color: #ffffff;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
#wrp {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 920px;
}
#spc {
	height: 20px;
	width: 920px;
}
#hdr {
	width: 920px;
	padding-bottom: 5px;
	border-bottom-color: #7ec2ed;
	border-bottom-style: solid;
	border-bottom-width: 8px;
}
#nav {
	width: 920px;
	padding-bottom: 10px;
	border-bottom-color: #1b6ea3;
	border-bottom-style: solid;
	border-bottom-width: 8px;
}
#nav.home {
	border-bottom-style: none;
	border-bottom-width: 0px;
}
#nav.login {
	font-size: 40px;
	text-align: right;
}
#half {
	width: 450px;
	padding-left:  5px;
	padding-right: 5px;
	padding-bottom: 10px;
	border-bottom-color: #1b6ea3;
	border-bottom-style: solid;
	border-bottom-width: 8px;
}
#cnt {
	width: 920px;
	padding-bottom: 15px;
}
#ftr {
	clear: both;
	width: 920px;
	border-top-color: #7ec2ed;
	border-top-style: solid;
	border-top-width: 8px;
	padding-top: 10px;
}

#left {
	width: 445px;
	float: left;
	padding-bottom: 15px;
}
#right {
	width: 445px;
	float: right;
	padding-bottom: 15px;
}
h1.home, h2.home {
	padding-left: 5px;
	border-bottom-color: #1b6ea3;
	border-bottom-style: solid;
	border-bottom-width: 8px;
	margin-bottom: 5px;
}
p.home {
	padding-left: 5px;
}

#editorleft {
	width: 220px;
	float: left;
}
#editorright {
	width: 220px;
	float: right;
}
